altair
cryptography
imutils
joblib
Keras
matplotlib
missingno
numpy
pandas
Pillow
plotly
requests
scikit_learn
seaborn
streamlit
streamlit_option_menu
streamlit_webrtc
wordcloud
tensorflow
opencv-python-headless
